/*  Форма Кальякуляторв */
#calc {
	border: 1px solid #000;
	background-image: url(../img/jGlzr.png);
	width: 300px;
	height: 600px;
	padding-left: 7%;
	padding-top: 2%;
	box-shadow: 0 0 10px rgba(0,0,0,1.5);
	
}

h3{
	font-size: 18px;
	font-weight: bold;
	font-family: Arial;
}

.button{
	height: 60px;
	width: 200px;
	border: 1px solid #fff;
	border-radius: 30px;
	font-size: 15px;
	font-weight: bold;
	padding: 20px;
	background-color: #FFEFD5;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.button:active{
	border: 1.5px solid yellow;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.button:hover{
	border: 1.5px solid green;
	box-shadow: 0 0 10px rgba(0,0,0,1.5);
}

.text{
	height: 20px;
	width: 200px;
	background-color: #FFEFD5;
	font-size: 18px;
	font-family: monospace;
	opacity: 0.6;
}


/* end */